/* Apply styles to the navigation bar */
.container {
    background-color: rgb(211, 211, 211);
    padding: 10px;
}

/* Style the list items */
.container ul {
    list-style: none; /* Remove bullets */
	display:flex;
    margin: 0;
    padding: 0;
}

.container li {
    display: inline; /* Display items horizontally */
    margin-right: 1rem; /* Add spacing between items */
}

/* Style the links */
.container a {
    text-decoration: none; /* Remove underlines */
    color: black; /* Set link color */
}
